<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahul.jaumo_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jaumo_App">
        <activity android:name=".Start_Page"></activity>
        <activity android:name=".Account" />
        <activity android:name=".homePage_Setting" />
        <activity android:name=".messages" />
        <activity android:name=".Premium_page" />
        <activity android:name=".Info_terms" />
        <activity android:name=".Google_Login" />
        <activity android:name=".SignUpWithEmail" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Location_Filter_Women" />
        <activity android:name=".Location_Filter_Men" />
        <activity android:name=".Home_Page_Women" />
        <activity android:name=".CompleteProfileActivity" />
        <activity android:name=".SelectCountryActivity" />
        <activity android:name=".SelectDistanceActivity" />
        <activity android:name=".SelectGenderActivity" />
        <activity android:name=".Location" />
        <activity android:name=".Home_Page" />
        <activity android:name=".Gender" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".GenderActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Interest" />
        <activity android:name=".Age_Activity" />
        <activity android:name=".Support">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>